html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}


/*------------------------------*/
/*General*/
/*------------------------------*/

*{

}


body{
	
}



/*-------------------------------*/
/*Header and Nav*/
/*-------------------------------*/

.header{
	height: 100px;
	margin: 0 25% 1px;
}

.logo{
	float: left;
	height: 100px;
	width: 100px;
}

ul>a{
	height: 101px;
	width: 135.3333333333337px;
	text-decoration: none;
	color: #505050;
	padding-top: 30px;	
}

.navbar{
	height:100px;
}

.navlist{
	float: left;
	margin-left: 4px;
	font-family: 'Carrois Gothic SC', sans-serif;
	text-transform: uppercase;
}

.nav_item{
	float: left;
	width: 135.3333333333337px;
	padding: 41px 0 0;
	text-align: center;
	font-size: 18px;
	height: 60px;	
}

.nav_item:hover{
	background: url(nav-shadow.png);
	background-size: 	
}

.nav_item:active{
	background: url(nav-shadow.png);
}

.divider{
	width:1px;
	height: 101px;
	float: left;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#A8A8A8), to(transparent));
    background-image: -webkit-linear-gradient(transparent, #A8A8A8, transparent);
    background-size:1px 80%;
    background-position:0, 0, 100% 0;
    background-repeat: no-repeat;
}

.break_bar{
	width: 100%;
	height: 5px;
	background-color: #59b400;
	border-top: 1px solid black;
}

#breakbar{
	margin-bottom: 0;
}


/*----------------------------------*/
/*Carousel and Main Body*/
/*----------------------------------*/

.carousel{
	width: 100%;
	height: 600px;
	background: #A0A0A0;
	margin: 0 auto;
}

.carousel_item{
	width: 1350px;
	height: 600px;    
    margin: 0 auto;
    display: block;
    transition: opacity 1.25s;
    -webkit-transition: opacity 1.25s;
    opacity: 0;
    position: absolute;
    left: 15%;
}

.carousel_img{
	width: 1350px;
	height: 600px;
	margin: 0 auto;
}

.visible{
	display: block;
	opacity: 1;
}

#img1{
	z-index: 1;
}

#img2{
	z-index: 2;
}

#img3{
	z-index: 3;
}

#img4{
	z-index: 4;
}

.free_design{
	margin: 0 22.5% 15px;
	padding: 10px 0;
	height: 58px;
	font-family: Verdana, Sans-Serif;
	text-transform: uppercase;
	background: #A0A0A0;
	color: white;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;	
}	

.free_design_p{
	font-size: 30px;
	margin-top: 14px;
	margin-left: 40px;
/*	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;*/
    display: inline-block; 
}

.free_design_btn{
	float: right;
	padding: 7px 5px;
	margin: 16.5px 40px 0;
	background-color: #59b400;
	vertical-align: text-bottom;
	box-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.free_design_link{
	color: white;
}

.advert1{
	height: 96px;
	display: inline-block;
	clear: both;
	float: right;
}

.advert2{
	height: 96px;
	display: inline-block;
	clear: both;
	float: left;	
}

.cols{
	width: 882px;
	height: 210px;
	margin: 0 auto;	
}

.column_pic{
	display: inline-block;
	border-radius: 10px;
	width: 400px;
	height: 200px;	
}

.text_wrap{
	height: 140px;
	display: inline;
}

.lorem{	
	font-family: 'Carrois Gothic SC', sans-serif;
	color: #888888;
	width: 230px;
	margin: 0px auto;
	display: block;	
	text-align: center;
}

#lorem1{
	float: right;
	text-align: right;
}

#lorem2{
	float: left;
	text-align: left;
}

#lorem3{
	float: right;
	text-align: right;
}

.btn{
	text-decoration: none;
	color: white;
	background-color: #59b400;
	font-family: 'Carrois Gothic SC', sans-serif;
	padding: .5em 1.5em;	
	display: inline-block;
	transition: .25s;
	-moz-transition: .25s;
	-webkit-transition: .25s;
}

.btn:hover{
	background-color: white;
	color: #59b400;
}

.btn_wrap{
	height: 32px;	
	display: inline-block;	
	float: right;
	clear: both;
	margin-top: 15px;
	margin-bottom: 17px;	
}

.btn_wrap2{
	height: 32px;	
	display: inline-block;	
	float: left;
	clear: both;
	margin-top: 10px;
	margin-bottom: 12px;	
}

#btn1{
	float: right;
	clear: both;
}

.click_here{	
	display: inline-block;
	width: 125px;	
	border: 1px solid #59b400;
}

.heads{
	height: 32px;
	width: 230px;
	text-align: right;	
	float: right;
}

.heads2{
	height: 32px;
	width: 230px;
	text-align: left;	
	float: left;
}

.columnhead{
	font-size: 22px;
	text-align: center;
	margin-top: 60px auto 10px;
	color: #787878;
	font-family: 'Carrois Gothic SC', sans-serif;
}

#head1{
	float: right;
}

#head2{
	float: left;
}

#head3{
	float: right;
}

.break{
	margin: 0 auto;
	width: 882px;
}

.breakline{
	width: 882px;
	margin: 0 auto;
	padding-bottom: 5px;
}

#breakline{
	padding-bottom: 20px;
}

/*---------------------------------*/
/*Footer*/
/*---------------------------------*/

.footer{
	font-family: 'Carrois Gothic SC', sans-serif;
	width: 100%;
	height: 45px;
	background-color: #A0A0A0;	
    bottom: 0;
    text-align: center;
}


.footer_link{
	text-decoration: none;
	color: #505050;
	text-align: center;
	width: 351px;
	margin: auto;	
	-moz-transition:.25s;
    -webkit-transition: .25s;
    transition: .25s;
}

.footer_link:hover{
	color: #707070;
}

.footer_not{	
	display: inline-block;
	vertical-align: middle;
	margin-top: 13px;	
}


/*-------------------------------*/
/*Media Queries*/
/*-------------------------------*/

@media (max-device-width: 1280px) {

/*--------------------------*/
/*header*/
/*--------------------------*/

.header{
	margin: 0 15% 1px;
	width: 900px;
	height: 90px;
}

ul>a{
	height: 90px;
	width: 100px;
	text-decoration: none;
	color: #505050;
	padding-top: 30px;
}

.nav_list{
	height: 90px;
}

.nav_item{
	width: 125px;
	height: 90px;
}

.nav_item:hover{
	background: url(nav-shadow2.png);
}

.logo{
	height: 90px;
	width: 90px;
}

/*---------------------------*/
/*Main Body*/
/*---------------------------*/

.carousel{
	height: 500px;
	width: 100%;
}

.carousel_item{
	width: 1050px;
	height: 500px;
	position: absolute;	
	margin-right: 140px;
	left: 9%;
}

.carousel_img{
	width: 1050px;
	height: 500px;	
	position: absolute;	
	margin-right: 140px;
}



}